// Declaraciones globales

// Display
@mixin Display ( $display, $flexFlow, $justifyContent, $alignItems, $gap : false) {
    display: $display;
    flex-flow: $flexFlow;
    justify-content: $justifyContent;
    align-items: $alignItems;
    @if $gap {
        gap: $gap;
    };
}

// Botones
@mixin Button ( $fontSize, $fontWeight, $color, $backgroundColor, $borderRadius, $boxShadow, $padding : false ) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    @if $padding{
        padding: $padding;
    };
}

// Barras
@mixin Bar ( $fontSize, $fontWeight, $color, $backgroundColor, $borderRadius, $boxShadow) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
}


//mediaq
@mixin medias($breakpoint){
	@if $breakpoint == mobile{
		@media (min-width: 250px){
			@content;
		}
	}

	@if $breakpoint == tablet{
		@media (min-width: 425px){
			@content;
		}
	}

    @if $breakpoint == desktop{
		@media (min-width: 768px){
			@content;
		}
	}
}